.col-md-5 {
    display: inline-block;
    background-image: url('../../assets/img/forumMetier.jpeg');
    background-size: cover;
    height: 34vh;
    width: 45vh;
    margin-left: 12px;
  }
  
  .titre {
    font-weight: bold;
    font-size: 3vh;
    margin-left: 14px;
  }
  .text {
    margin-left: 12px;
  }
  
  .point {
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
  }
  
  .col-md-4 {
    background-image: url('../../assets/img/imgMetier.jpg');
    background-size: cover;
    display: inline-block;
    height: 35vh;
    width: 65vh;
    margin-left: 12px;
  }
  
  .rouge {
    color: brown;
    font-weight: bold;
  }
  .titres {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
  .titreg {
    font-weight: bold;
    margin-left: 15%;
    font-size: 20px;
  }
  .text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
  }
  