<div class="container-xxl">
    <br>
    <span class="titre">SALON DES METIERS</span>
    <br>
    <div class="row">
      <div class="col-md-7">
        <br />
        <div class="text">
          Un espace entreprenariat : en collaboration avec ADPME et DER par le biais du ministère de la jeunesse, de l’entreprenariat et de
          l’emploi de jeunes porteurs de projets pourront bénéficier des conseils et des opportunités de financement. Les axes stratégiques de
          mise en œuvre des activités du Sénégal Open Source sont:
        </div>
        <br />
        <div class="point">
          1-De travailler avec l’Etat et ses démembrements surtout dans le domaine de l’éducation (les écoles, les universités), les ONG et
          les organisations internationales.
        </div>
        <br />
  
        <div class="point">
          2-Les communes. avec l’acte3 de la décentralisation doit être le lieu où le Link entre les décideurs et les populations doit être
          établi pour asseoir une base de communication, d’éveil et de promotion des politiques de développement du pays.
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
    <br />
    <br />
  
    <div class="row">
      <br />
      <br />
      <div class="col-md-4"></div>
      <div class="col-md-7">
        <br />
  
        <div class="text">
          Les entreprises de la place avec les TIC particulièrement avec le libre ont plus <br />de chance de toucher leur cible dans la
          population et d’atteindre leur objectif.<br /><br />
          Un espace entreprenariat : en collaboration avec ADPME et DER de jeunes porteurs <br />de projets pourront bénéficier des conseils
          et des opportunités de financement.<br /><br />
        </div>
        <div class="text">Le salon des métiers ou la bourse de l’emploi :</div>
        <div class="rouge">c’est aussi 72 heures de temps pour rencontrer plus de 5000 candidats potentiels</div>
        <br />
      </div>
    </div>
    <div class="text">
      C’est pourquoi dans un 1ér temps nous allons mettre en exergue deux points forts qui centralisent l’essentiel des activités du SOS :
      <br />le forum des métiers et la plateforme communale « Ma commune chez moi ».
    </div>
    <br />
    <div class="titres">La taille du marché</div>
    <br />
    <div class="point">
      -Nombre de participants 5000<br />
  
      - Les partenaires ciblés il ajouter le ministère de l’économie numérique, Sénégal Numérique SA, Orbus, DER , linkedin, Facebook..
    </div>
    <br />
    <div class="titreg">
      - NB : Tous ces ateliers peuvent bénéficier d’un suivi en ligne en accord avec la structure et la cible désignée qui <br />peut être une
      université ou une école de formation.
    </div>
  </div>
