

<div class="container-xxl infographie my-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                    <button type="button" class="" data-bs-toggle="modal"
                        >
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded-top p-5 mt-lg-5">
                    <!-- <p class="fs-5 fw-medium text-primary">Reseaux et Telecom</p> -->
                    <h1 class="display-6 mb-4">Nos services en Infrographie et Designer</h1>
                    <p class="mb-4">Nous vous aidons à Manier des textes et des images
                    </p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-5.png" alt="">
                            <h5 class="mb-3">Realiser des jeux vidéo et en ligne</h5>
                            <!-- <span>Clita erat ipsum et lorem et sit sed stet lorem</span> -->
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-2.png" alt="">
                            <h5 class="mb-3">Creation de CV </h5>
                            <!-- <span>Clita erat ipsum et lorem et sit sed stet lorem</span> -->
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Nous contacter</a>                </div>
            </div>
        </div>
    </div>
   </div>