<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium text-primary">Nos Services</p>
            <h1 class="" >La fonction principale du service informatique en entreprise est la gestion du parc informatique</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-5.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">Réseaux et Telecoms</h5>
                            <p class="mb-0">Mettre en service et d’assurer le suivi et le bon fonctionnement 
                                des réseaux informatiques et des réseaux de télécommunications. Il veille sur la 
                                disponibilité et la sécurité des services et des applications. Puis il participe à
                                leur évolution dans le respect des procédures, de la politique de sécurité et des 
                                contrats de services.
                                </p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a routerLink='reseaux'>En savoir plus<i
                            class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-6.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">Developpement d'application web et mobile</h5>
                            <p class="mb-0">une activité qui consiste à programmer un site Internet ou une application 
                                mobile en utilisant des lignes de code de langage de programmation
                                </p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a routerLink='application'>En savoir plus<i
                                class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-7.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">Bi et Big Data</h5>
                            <p class="mb-0">La Business Intelligence ou informatique décisionnelle rassemble des technologies
                                 et des compétences permettant l’analyse descriptive des données dans le but de prendre des 
                                 décisions mieux informées.Tandis que 
                                  le Big Data Analytics ou analytique Big Data est le processus qui consiste à collecter, 
                                  examiner, gérer, traiter et exploiter des ensembles massifs de data issues de sources 
                                  différentes.
                                </p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a routerLink='donnee'>En savoir plus<i
                                class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-8.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">Cyber Sécurity</h5>
                            <p class="mb-0">La cybersécurité est un « sous-ensemble » de la sécurité informatique.
                                 Elle vise à protéger les ressources du piratage ou des cyberattaques,
                                 c'est-à-dire des menaces provenant d'Internet ou survenant via Internet.</p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a routerLink='securite'>En savoir plus<i
                                class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-9.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">Infrographie et Designer</h5>
                            <p class="mb-0"> le domaine de la création d'images numériques assistée par ordinateur. 
                                Cette activité est liée aux arts graphiques</p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a routerLink='infographie'>En Savoir plus<i
                                class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                            style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="assets/img/icon/icon-10.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">E-mail Marketing</h5>
                            <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                                stet</p>
                    </div>
                    <div class="service-btn rounded-0 rounded-bottom">
                        <a class="text-primary fw-medium" href="">Read More<i
                                class="bi bi-chevron-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>