<div class="d-flex justify-content-center">
    <br>
    <br>
    <div class="col-8">
      <div class="bar"></div>
      <form name="editForm" role="form" novalidate >
        <h2 id="jhi-inscription-heading" data-cy="InscriptionCreateUpdateHeading" class="create">Pré-inscription Salon des Métiers de SOS</h2>
        <p class="form">
          Première édition<br />
          AU C.I.C.E.S DU 09 AU 11 JUIN 2023
        </p>
  
        <div>
          <!-- <jhi-alert-error></jhi-alert-error> -->
  
          <!-- <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div> -->
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_partenaire">Partenaire/Structure</label>
                <input
                  type="text"
                  class="form-control"
                  name="partenaire"
                  id="field_partenaire"
                  data-cy="partenaire"
                  formControlName="partenaire"
                />
              </div>
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_non">Nom</label>
                <input type="text" class="form-control" name="non" id="field_non" data-cy="non" formControlName="non" />
              </div>
              <br />
              <div class="form-group">
                <label class="form-label" for="field_prenon">Prénom</label>
                <input type="text" class="form-control" name="prenon" id="field_prenon" data-cy="prenon" formControlName="prenon" />
              </div>
  
              <br />
              <div class="form-group">
                <label class="form-label" for="field_adresseProfessionnelle">Adresse Professionnelle</label>
                <input
                  type="text"
                  class="form-control"
                  name="adresseProfessionnelle"
                  id="field_adresseProfessionnelle"
                  data-cy="adresseProfessionnelle"
                  formControlName="adresseProfessionnelle"
                />
              </div>
  
              <br />
              <div class="form-group">
                <label class="form-label" for="field_telephoneProfessionnelle">Téléphone Professionnelle</label>
                <input
                  type="text"
                  class="form-control"
                  name="telephoneProfessionnelle"
                  id="field_telephoneProfessionnelle"
                  data-cy="telephoneProfessionnelle"
                  formControlName="telephoneProfessionnelle"
                />
              </div>
  
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_emailProfessionnelle">Email Professionnelle</label>
                <input
                  type="text"
                  class="form-control"
                  name="emailProfessionnelle"
                  id="field_emailProfessionnelle"
                  data-cy="emailProfessionnelle"
                  formControlName="emailProfessionnelle"
                />
              </div>
  
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_demandeStand">Demande Stand</label>
                <select
                  class="form-control"
                  name="demandeStand"
                  formControlName="demandeStand"
                  id="field_demandeStand"
                  data-cy="demandeStand"
                >
                  <!-- <option [ngValue]="null"></option> -->
                  <option *ngFor="let demandeStand " [value]="demandeStand">{{ demandeStand }}</option>
                </select>
              </div>
  
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_tailleStand">Taille du Stand</label>
                <input
                  type="text"
                  class="form-control"
                  name="tailleStand"
                  id="field_tailleStand"
                  data-cy="tailleStand"
                  formControlName="tailleStand"
                />
              </div>
              <br />
  
              <div class="form-group">
                <label class="form-label" for="field_autres">Autres</label>
                <input type="text" class="form-control" name="autres" id="field_autres" data-cy="autres" formControlName="autres" />
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="can-sav">
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary">
            <i class="fa fa-ban me-3"></i>&nbsp;<span>Annuler</span>
          </button>
  
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            
            class="btn btn-primary"
          >
          <i class="fa fa-save me-3"></i>&nbsp;<span>Sauvegarder</span>
          </button>
        </div>
        <br />
      </form>
    </div>
  </div>
  