<!-- <p>formations works!</p> -->
<!-- <p>domaine-hebergement works!</p> -->

<div class="container-xxl formation my-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                    <!-- <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button> -->
                </div>
            </div>
            <div class="col-lg-8 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded-top p-5 mt-lg-5">
                    <p class="fs-5 fw-medium text-primary">Nos offres</p>
                    <h1 class="display-6 mb-4">Nos formations et renforcement des capacités</h1>
                    <p class="mb-4">Nous assistons les entreprises pour permettre à leurs clients d'accéder et d'utiliser efficacement
                         les produits et services informatiques mis à leur disposition.</p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-12">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-5.png" alt="">
                            <h5 class="mb-3">Nous effectuons des formations dans les domaines suivants : </h5>
                            <span>Formation en Bureautique <br>
                                Formation en WordPress<br>
                                Renforcement de capacite en Developpement<br>
                                Renforcement de capacite en Base de donnees : MySQL, Sql Server, Postgres
                                
                            </span>
                        </div>
                        <!-- <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-2.png" alt="">
                            <h5 class="mb-3">Hebergement</h5>
                            <span>Achetez un domaine de type .com, .net, .sn chez SOS et obtenez  
                                 une offre d'hebergement diversifiee, de haute qualite 
                                et securiseée</span>
                        </div> -->
                    <p> Pour plus d'informations sur nos formations, veuillez nous contacter</p>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" routerLink="../../contact">Nous contacter</a>
                </div>
            </div>
        </div>
    </div>
   </div>