
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/objectif.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 text-end">
                                <h1 class="display-1 text-white mb-4 animated slideInLeft">Salon des<br> Métiers</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="bg-white rounded-top p-5 mt-lg-5">
            <p class="fs-5 fw-medium text-primary"></p>
            <h1 class="display-6 mb-4">Objectif</h1>
            <div class="row g-5 pt-2 mb-5">
                <div class="col-sm-6">
                    <h5 class="mb-3">Qu'est-ce qu'un salon des métiers ?</h5>
                    <span style="display:flex; justify-content: flex-end;">
                        Le Salon des Métiers est un événement annuel réunissant dans un même lieu différents acteurs
                         : professionnels, élève, enseignants, corps de personnels de direction et institutionnels. Il permet 
                         de présenter aux élèves de 3ème un panel de métiers le plus large possible.
                    </span>
                </div>
                <div class="col-sm-6">
                    <h5 class="mb-3">Pourquoi faire un forum des métiers ?</h5>
                    <span>Le Salon des Métiers est un moment fort dans l'année pour nos jeunes. Ils y ont en effet 
                        l'opportunité de rencontrer des personnes dont la profession est celle qu'ils envisagent d'exercer
                        , et ils peuvents ainsi découvrir plus en détails cette profession et le parcours qui pourra les y mener.
                    </span>
                </div>
            </div>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a>
        </div>
    </div>
    
    <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="bg-white rounded-top p-5 mt-lg-5">
            <p class="fs-5 fw-medium text-primary">Quels sont les questions à poser lors d'un salon des métier</p>
            <h1 class="display-6 mb-4">FICHE METIER</h1>
            <p class="mb-4">
                Quel est le nom de votre métier ? Quelles sont vos activités principales ? ... <br>
                Où travaillez-vous ? Travaillez-vous en intérieur ou en extérieur ? ... <br>
                Quelles sont les qualités requises pour ce travail ? ... <br>
                Les débouchés sont-ils nombreux ? ... <br>
                Quel est votre salaire ? ... <br>
                Quels sont les diplômes qui préparent à ce métier ?

            </p>
            <div class="row g-5 pt-2 mb-5">
                <div class="col-sm-6">
                    <h5 class="mb-3">Quel est le rôle du métier ?</h5>
                    <span>Un métier désigne l'exercie par une personne d'une activité dans un domaine professionnel,
                        en vue d'une rénumération.
                    </span>
                </div>
                <div class="col-sm-6">
                    <h5 class="mb-3">Quels sont les avantages du salon pour les demandeurs d'emploi ?</h5>
                    <span>Participer à un salon carrière vous donne l'opportunité de faire parler de votre entreprise et également
                        de laisser une image positive aux étudiants et chercheurs d'emploi> Vous encourager ainsi les talents à vous envisager en 
                        priorité dans leurs recherches d'emploi.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="text-align: center; font-size: xx-large; font-weight: bolder;">  Le salon des métier est un moment important pour les start up <br> de créer un lien avec les autres métiers pour un 
    développement socio-économique !!! 
</p>
