<div class="container-xxl about my-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded-top p-5 mt-lg-5">
                    <p class="fs-5 fw-medium text-primary">A PROPOS DE NOUS</p>
                    <h1 class="display-6 mb-4">Que fait Sénégal Open Source</h1>
                    <p class="mb-4"><span style="font-size: x-large; font-weight: bolder; font-style: italic;">SOS</span> est une société d'ingénieurie logicielle qui se définit comme support technologique pour les entreprises et certaines
                        structures de l'Etat en proposant des solutions innovantes et à la pointe de la technplogie.
                    </p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-5.png" alt="">
                            <h5 class="mb-3">Services Géré</h5>
                            <span>SOS travaille sur la formation surtout en ligne avec des applications modernes, la consultance,
                                les applications des logiciels éducatifs entre autre.
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="assets/img/icon/icon-2.png" alt="">
                            <h5 class="mb-3">Experts Dédiés</h5>
                            <span>Il est composé de professionnels soucieux du développement de leur pays surtout avec d'imminents informatiticiens
                                 qui ont fait leur preuve.
                            </span>
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
   </div>

   <app-team-start></app-team-start>