<div class="container-fluid bg-black text-black sticky-top" style="background-color: black;">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="index.html" class="navbar-brand d-lg-none">
                <h1 class="fw-bold m-0">Senegal Open Source</h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="background-color: black;">
                <div class="navbar-nav">
                    <a href="index.html" class="nav-item nav-link active" style="color:white">Accueil</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color:white">Societe</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a  [routerLink]="[{ outlets: { primary: ['about']}}]" class="dropdown-item">Qui somme nous ?</a>
                            <a [routerLink]="[{ outlets: { primary: ['objectifs']}}]" class="dropdown-item">Objectif</a>
                            <a [routerLink]="[{ outlets: { primary: ['equipes']}}]" class="dropdown-item">Notre Equipe</a>
                            <a [routerLink]="[{ outlets: { primary: ['partenaires']}}]" class="dropdown-item">Partenaires</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color:white">Services</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a [routerLink]="[{ outlets: { primary: ['services']}}]" class="dropdown-item">Réseaux et Télécom</a>
                             <a [routerLink]="[{ outlets: { primary: ['services']}}]" class="dropdown-item">Developpement d'application web et mobile</a>
                            <a [routerLink]="[{ outlets: { primary: ['services']}}]" class="dropdown-item">BI et Big Data</a>
                            <a [routerLink]="[{ outlets: { primary: ['services']}}]" class="dropdown-item">Cyber-Security</a> 
                            <a [routerLink]="[{ outlets: { primary: ['services']}}]" class="dropdown-item">Infographie Et Designer</a> 
                        </div>
                    </div>
                   
                    
        
                    
                    <!--Partie Offres-->
                    <!-- <a href="service" class="nav-item nav-link" style="color:white">Offres</a> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color:white">Offres</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Domaine et Herbergement</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Office 365</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Kaspersky</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Nos Formation</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Equipement et Logiciels</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Consultance</a>
                            <a [routerLink]="[{ outlets: { primary: ['offres']}}]" class="dropdown-item">Leadership</a>
                            <!-- <a [routerLink]="[{ outlets: { primary: ['sinscrire']}}]" class="dropdown-item">S'inscrire</a> -->
                        </div>
                    </div>
                    <!-- Partie Evenement-->
                    <div class="nav-item dropdown">
                        <a [routerLink]="[{ outlets: { primary: ['evenement']}}]" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color:white">Salon des métiers</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <!-- <a [routerLink]="[{ outlets: { primary: ['evenement']}}]" class="dropdown-item">Salon des métiers</a> -->
                            <a [routerLink]="[{ outlets: { primary: ['entreprise']}}]" class="dropdown-item">Les entreprises</a>
                            <a [routerLink]="[{ outlets: { primary: ['description']}}]" class="dropdown-item">Description de l'événement</a>
                            <!-- <a [routerLink]="[{ outlets: { primary: ['sinscrire']}}]" class="dropdown-item">S'inscrire</a> -->
                        </div>
                    </div>

                    <!--Prtie Contact-->
                    <a  [routerLink]="[{ outlets: { primary: ['contact']}}]" class="dropdown-item" 
                    href="contact.html" class="nav-item nav-link contact" style="color:white">Contact</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color:white"
                        [routerLink]="[{ outlets: { primary: ['contact']}}]" class="dropdown-item">Contact</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a [routerLink]="[{ outlets: { primary: ['contact']}}]" class="dropdown-item">contact</a>
                        </div> 
                    </div> -->

                    <!-- <a href="/service.html" class="nav-item nav-link">Services</a>
                    <a href="project.html" class="nav-item nav-link">Projects</a> -->
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="team.html" class="dropdown-item">Our Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="quote.html" class="dropdown-item">Quotation</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="ms-auto d-none d-lg-block">
                    <a href="" class="btn btn-primary rounded-pill py-2 px-3">Get A Quote</a>
                </div> -->
            </div>
        </nav>
    </div>
   </div>