<div class="container-xxl">
    <br>
    <span class="titre">EVENEMENT</span><br><br>
    <div>
      <p class="para">
        Soucieux des choix de formation et du travail des jeunes alors que le Sénégal dispose d'un potentiel énorme en <br />
        capital humain de plus de 60% de jeunes.
      </p>
  
      <p class="para">
        Le salon des Métiers vous aidera dans votre orientation et votre parcours d'études. Collégiens, lycéens, étudiants <br />
        ou parents, vous y trouverez toutes les infos indispensables sur les formations et les métiers.
      </p>
    </div>
    <div class="col-md-8">
      <p class="paragris">
        Au Salon des Métiers et de la Formation, les jeunes vont confronter au choix d'une profession trouveront une vue <br />
        concrète et pratique du monde du travail. Ils peuvent y découvrir les différentes facettes de la vie professionnelle en <br />un seul
        salon.
      </p>
  
      <p class="paragris">
        Des formations initiales et professionnelles, ainsi que les différentes possibilités de maturité et <br />préapprentissage seront
        présentées lors du salon.
      </p>
  
      <p class="paragris">
        Des associations professionnelles et entreprises de divers secteurs offriront un aperçu de plus de 250 métiers et <br />formations.
      </p>
  
      <p class="paragris">
        Cette manifestation est destinée en priorité à tous les élèves et étudiants souhaitant s’informer sur le choix d’un <br />métier et
        sur les offres de formation initiale. Il s'adresse aussi à ceux qui sont à la recherche d'un emploi, d'un <br />
        apprentissage ou d'une orientation professionnelle.
      </p>
  
      <p class="para">
        Ce salon de l'emploi réunit de nombreux employeurs et des établissements proposant des
        <span class="soule">offres d'emploi et de formation professionnelle</span>. Chaque profil est ciblé.
      </p>
      <p class="rouge">La liste de nos participants sera disponible sur notre blog avant l’évènement.</p>
  
      <p class="para">Le Salon des Métiers se tient 1 fois dans l’année.</p>
  
      <p class="para">Ce Salon des Métiers se décline selon 5 secteurs d’activité dont chacun fera l’objet d’un Forum spécialisé :</p>
      <div class="point">
        <span class="icon"><i class="fa fa-circle me-3"></i></span
        ><span class="text"> Le Salon des Métiers liés à l’Economie et à la Politique</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span
        ><span class="text">Le Salon des Métiers de l’Environnement, de la Sécurité et de la Santé</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span
        ><span class="text"> Le Salon des Métiers de l’Education, les Sciences et les Technologies</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span
        ><span class="text">Salon spécialisé sur la Recherche Scientifique Appliquée</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text">Le Salon des Métiers de la Culture</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text"> Des stands :</span
        ><span class="para"
          >où les Entreprises pourront rencontrer directement des candidats, et où les Ecoles/Universités/Instituts <br />pourront présenter
          leurs offres de formation</span
        ><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text">Des ateliers : </span
        ><span class="para">
          où les candidats pourront obtenir des conseils en orientation, sur la recherche d’emploi, <br />de la part d’experts</span
        ><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text"> Table ronde :</span
        ><span class="para">où les élèves/étudiants pourront échanger avec des professionnels des métiers dudit secteur</span><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span
        ><span class="text">
          Table ronde sur les technologies innovantes : Biotechnologie, Biochimie, Production pharmaceutique, etc. animée par les experts du
          Ministère de la Recherche (MESRI)</span
        ><br /><br />
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text"> 1 espace « Entreprenariat » :</span
        ><span class="para"
          >en collaboration avec l’ADE/PME, où de jeunes porteurs de projets pourront bénéficier des conseils en création d’entreprise.<br /><br />
        </span>
        <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="text"> 1 plateau TV </span><br />
      </div>
      <br />
      <p class="para">Le Salon des Métiers c’est aussi :</p>
      <br />
      <div class="point">
        <span class="check"><i class="fa fa-check me-3"></i></span
        ><span class="texte"> Le Salon des Métiers liés à l’Economie et à la Politique</span><br /><br />
        <span class="check"><i class="fa fa-check me-3"></i></span
        ><span class="texte">Le Salon des Métiers de l’Environnement, de la Sécurité et de la Santé</span><br /><br />
        <span class="check"><i class="fa fa-check me-3"></i></span
        ><span class="texte"> Le Salon des Métiers de l’Education, les Sciences et les Technologies</span><br /><br />
        <span class="check"><i class="fa fa-check me-3"></i></span
        ><span class="texte">Salon spécialisé sur la Recherche Scientifique Appliquée</span><br /><br />
      </div>
    </div>
  </div>
  
  <!-- <div>
    <h2 id="page-heading" data-cy="EvenementHeading">
      <span>Evenements</span>
  
      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh List</span>
        </button>
  
        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-evenement"
          [routerLink]="['/evenement/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Evenement </span>
        </button>
      </div> 
    </h2>
  
    <jhi-alert-error></jhi-alert-error>
  
    <jhi-alert></jhi-alert>
  
    <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
      <span>No evenements found</span>
    </div>
  
    <div class="table-responsive" id="entities" *ngIf="evenements && evenements.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Evenement</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evenement of evenements; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a>
            </td>
            <td>{{ evenement.evenement }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/evenement', evenement.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
  
                <button
                  type="submit"
                  [routerLink]="['/evenement', evenement.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edit</span>
                </button>
  
                <button type="submit" (click)="delete(evenement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  