.titre {
    font-weight: bold;
    font-size: 3vh;
  }
  .para {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
  }
  .paragris {
    background-color: rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
  }
  .soule {
    text-decoration: underline;
  }
  .rouge {
    text-align: center;
    font-weight: bold;
    color: brown;
  }
  .icon {
    font-size: 5px;
    font-weight: bold;
  }
  .check {
    font-size: 15px;
    font-weight: bold;
  }
  
  .point {
    margin-left: 4%;
  }
  .text {
    font-weight: bold;
    margin-left: 5%;
  }
  .texte {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    margin-left: 5%;
  }
  