<!-- <p>offres works!</p> -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium text-primary">Nos Offres</p>
            <h1 class="" >SOS propose ces offres dans la gestion informatique</h1>
        </div>
        <div class="row g-0 feature-row">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/domaine-hebergement.jpg" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink='domaine-hebergement'>Domaine et Hebergement</a></h5>
                    <p class="mb-0">Enregistrez votre domaine chez SOS et bénéficiez de tout 
                        ce dont vous avez besoin pour vous lancer en ligne.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/office365.png" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="office">Office 365</a></h5>
                    <p class="mb-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
                </div>
            </div> 

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/kaspersky.jpg" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="kaspersky">Kaspersky</a></h5>
                    <p class="mb-0">Grâce à notre technologie avancée, vous pouvez profiter d'une expérience Internet sûre et privée sans compromettre 
                        les performances de votre ordinateur ni de vos appareils mobiles.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/Formation-Pro.png" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="formations">Nos formations</a></h5>
                    <p class="mb-0">Beneficier de nos renforcements de competences en Bureautique, Developpement, Infographie etc...</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/equipement-logiciel.jpg" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="equipement-logiciel">Equipement et Logiciels</a></h5>
                    <p class="mb-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/consultance.jpg" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="consultance">Consultance</a></h5>
                    <p class="mb-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="feature-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/img/leadership.jpg" alt="Icon">
                    </div>
                    <h5 class="mb-3"><a routerLink="leaderShip">LeaderShip</a></h5>
                    <p class="mb-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
                </div>
            </div>
  
        </div>
    </div>
   </div>