<div class="container-xxl">
    <br>
    <span class="titre">LES ENTREPRISES</span><br>
    <div class="rouge">FORUM DES METIERS : BOURSE DE L’EMPLOI></div><br>
  
    <div class="rouges">Vous êtes une entreprise ? Une PME ? : offres d'emplois et annonces gratuites</div>
    <div class="text">
      Notre vision est d'apporter une alternative aux services publics et privés , plus adaptée aux besoins et contraintes de l'entreprenariat
      sénégalais.<br /><br />
  
      Avec <span class="titres">Forum des métiers : Bourse de l'Emploi</span>, vous évitez à votre entreprise de supporter les coûts
      prohibitifs des recrutements “traditionnels” <br />dans le cadre d'une recherche de candidats pour un emploi cadre et surtout non cadre
      (comme le proposent souvent beaucoup de cabinets de <br />recrutement). Terminés les sites d’offres d’emploi gratuits ou payants qui ne
      sentent pas concernés par votre taux de retour infructueux de cv.<br />
      La bourse de l'emploi est à vos côtés
    </div>
    <br />
    <div class="point">
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">ORIENTATION</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">FORMATION PROFESSIONNELLE</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">ECOLOGIE</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">NUMEERIQUE</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">POLE EMPLOI</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">JOB DATING</span><br />
      <span class="icon"><i class="fa fa-circle me-3"></i></span><span class="rouge">SPEED DATING</span><br />
    </div>
  </div>