.titre {
    font-weight: bold;
    font-size: 3vh;
  }
  .rouge {
    color: brown;
    font-weight: bold;
    text-align: center;
  }
  .rouges {
    font-weight: bold;
    color: brown;
  }
  .text {
    margin-left: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
  }
  .titres {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
  .point {
    margin-left: 6%;
  }
  .icon {
    font-size: 5px;
  }
  